@import '../../common/css/reset.styl';

  .index
    font-size: 32px; /*px*/
    color: #000000;
    width: 300px;
    height: 30px;
    background-color: #fafafa;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border: 1px solid #999999; /*no*/